### EXO1 :

In [1]:
# Enoncé :
# Donner une définition, avec signature et
# hypothèse(s) éventuelle(s), de la fonction
# compte_mots qui, étant donné une chaîne de
# caractères s, renvoie le nombre de mots que
# contient cette chaîne.
# On considère ici les mots “au sens large” : les mots
# sont séparés par un ou des espaces.

# Exemple :
# >>> compte_mots(’’) => 0
# >>> compte_mots(’il ingurgite impunément un iguane.’) => 5
# >>> compte_mots(’coursdeprogrammation’) => 1
# >>> compte_mots(" Attention aux espaces consécutifs ou terminaux ") => 6

In [2]:
def compte_mots(str):
    str = str.strip()
    if str=='':
        return 0
    else:
        while '  ' in str:
            str = str.replace('  ', ' ')
        return len(str.split(' '))

In [3]:
compte_mots("a        b    c  s d tyer    j               i               p   ")

9

In [4]:
compte_mots("")

0

In [5]:
compte_mots("il ingurgite impunément un iguane.")

5

In [6]:
compte_mots("coursdeprogrammation")

1

In [7]:
compte_mots(" Attention aux espaces consécutifs ou terminaux ")

6

### EXO2 :

In [8]:
# Enoncé :
# Donner une définition, avec signature et
# hypothèse(s) éventuelle(s), de la fonction
# remplace_multiple qui, étant donné
# deux chaînes de caractères s1 et s2, ainsi qu’un
# entier naturel n, renvoie la chaîne obtenue en
# remplaçant le caractère en position n dans s1 par le
# premier caractère de s2, puis le caractère en
# position 2n dans s1 par le deuxième caractère de
# s2, etc.. Le remplacement s’arrête quand il n’y a plus
# de caractères dans s2. Une fois la fin de s1 atteinte,
# s’il reste des caractères dans s2 non utilisés, on les
# ajoute au bout de la chaîne obtenue.

# Exemple :
# >>> remplace_multiple(’’,’’,2) => ‘’
# >>> remplace_multiple(’abacus’,’oiseau’,2) =>’abocisseau’
# >>> remplace_multiple(’hirondelles’,’nid’,3) =>’hirnndillds’

In [9]:
def remplace_multiple(s1, s2, n):
    if len(s1)==0 or len(s2)==0 or n==0:
        return s1
    else:
        t = []
        a = n
        for i in range(len(s1)):
            t.append(a)
            a = a+n
        index_s2 = 0
        t = [e for e in t if e<len(s1)]
        new_str = s1
        for i in t:
            new_str = new_str[:i] + s2[index_s2] + new_str[i+1:]
            if index_s2<len(s2)-1:
                index_s2 = index_s2 + 1
            else:
                break
        return new_str+s2[len(t):]
        return t

In [10]:
remplace_multiple('', '', 2)

''

In [11]:
remplace_multiple('abacus', 'oiseau', 2)

'abocisseau'

In [12]:
remplace_multiple('hirondelles', 'nid', 3)

'hirnndillds'

### EXO 3 :

In [ ]:
# Enoncé 1 :
# Donner une définition de la fonction termeU qui,
# étant donné un entier naturel n, rend la valeur de Un
# correspondante.

# Exemple :
# >>> termeU(0) => 1
# >>> termeU(1) => 3
# >>> termeU(5) => 59013
# >>> termeU(10) => 64885583712887818

In [18]:
from math import pow

def termeU(n):
    if n==0:
        return 1
    else:
        return int(pow(2, n)*termeU(n-1) + n)

In [19]:
termeU(0)

1

In [20]:
termeU(1)

3

In [21]:
termeU(5)

59013

In [22]:
termeU(10)

64885583712887816

### EXO 4 :

In [ ]:
# Enoncé :
# Donner une définition (avec une version
# fonctionnelle et une version non fonctionnel) de la
# fonction factorielle qui, étant donné un entier naturel
# n, rend sa factorielle.

# >>> factorielle(1) => 1
# >>> factorielle(2) => 2
# >>> factorielle(3) => 6
# >>> factorielle(4) => 24

In [23]:
def factorielle(n):
    if n==0:
        return 1
    else:
        return n*factorielle(n-1)

In [24]:
factorielle(1)

1

In [25]:
factorielle(2)

2

In [26]:
factorielle(3)

6

In [27]:
factorielle(4)

24

In [38]:
# Autre Méthode :

def factorielle(n):
    if n==0:
        return 1
    else:
        result = 1
        for i in range(1, n+1):
            result = result*i
        return result

In [39]:
factorielle(1)

1

In [40]:
factorielle(2)

2

In [41]:
factorielle(3)

6

In [42]:
factorielle(4)

24